<form class="form-group">
	<fieldset>
		<label for="game_id">Game</label>
		<%= select_tag(:game_id, options_for_select(LottoGame.all.pluck(:name, :id)), class: "form-control") %>
		<label for="numbers">Numbers</label>

		<div id="add-number-multi-input" class="multiple-val-input form-control">
			<ul>
				<input id="multi-input-text" type="text">
				<input id="numbers" name="numbers" type="hidden" />
				<span class="input_hidden"></span>
			</ul>
		</div>
	</fieldset>
</form>
