
          <h1 class="page-header">Dashboard</h1>
          
			<ul class="nav nav-tabs">
			  <li class="active"><a data-toggle="tab"  href="#your-numbers-tab">Your Numbers</a></li>
			  <li><a data-toggle="tab"  href="#number-search-tab">Number Search</a></li>
			</ul>
			
			<div class="tab-content">
			  <div id="your-numbers-tab" class="tab-pane fade in active">
		 		<%= render 'dashboard/your_numbers' %>
			  </div>
			  <div id="number-search-tab" class="tab-pane fade">
		 		<%= render 'dashboard/number_search' %>
			  </div>
			</div>
			
