          <h1 class="page-header">Analytics</h1> 
 
 		  <h4>Number of Draws for Each Game</h4>
          <div class="graph-content">
              <%= column_chart LottoResult.group(:game).order('count_all DESC').count, width: "1600px" %>
          </div>
          <hr/>
          
 		  <h4>Number of Draws Won for Each Game</h4>
          <div class="graph-content">
              <%= pie_chart LottoResult.joins(:lotto_game).where("winners > 0").group(:name).order('count_all DESC').count %>
          </div>
          <hr/>