	<table id="admin_tbl" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
            	<% @column_names.each do |col| %>
                <th><%= col %></th>
                <% end %>        
                <th>Actions</th>
            </tr>
        </thead>
    </table>