<select id="table_name">
  <option value="LottoResult" <% if @selected_table == "LottoResult"%>selected="selected"<% end %>>LottoResult</option>
  <option value="FbUser" <% if @selected_table == "FbUser"%>selected="selected"<% end %>>FbUser</option>
</select>

<table id="admin_tbl" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Column 1</th>
                <th>Column 2</th>
                <th>Column 3</th>
                <th>Column 4</th>
                <th>Column 5</th>
                <th>Actions</th>
            </tr>
        </thead>
    </table>