<p>
You have successfully unsubscribed to the Daily Results. <br />
For registered users: If you want to subscribe again, you can do this thru the Settings page.
</p>
<a class="btn btn-primary" href="/">Ok</a>
