<div class="main">
	<h2 class="featurette-heading">Hello, <%= @user.name %>!</h2>
	<p class="lead">
		Welcome to Lotto Analytics!
		<br/>
		Thank you very much for joining with us. We hope that you'll enjoy discovering
		cool ways of analyzing lotto numbers.
		<br/>
		Please proceed to this link to have your email verified:
		<br />
		<br/>
		<a href="http://localhost/login/verify?id=asfa2323232csrwer2cadfsdf234"> http://localhost/login/verify?id=asfa2323232csrwer2cadfsdf234</a>

		<br/>
		<br/>
		Cheers!
		<br/>
		Lotto Analytics Team
	</p>
</div>