<div class="main">
	<h2 class="featurette-heading">Hello, <%= @user.name %>!</h2>
	<p class="lead">
		Welcome to Lotto Analytics!
		<br/>
		Thanks a lot for joining with us. We hope that you'll enjoy discovering
		cool ways of analyzing lotto numbers.
		<br/>
		Please proceed to this link to have your email verified:
		<br />
		<br/>
		<a href="<%=@verify_url %>"><%=@verify_url %></a>

		<br/>
		<br/>
		Cheers!
		<br/>
		Lotto Analytics Team
	</p>
</div>