<div class="col-md-12">
  <h2 class="featurette-heading">Games Today, <span class="text-muted"><%= DateUtil.now.strftime("%B %d, %Y") %></span></h2>

	<% weekday = DateUtil.now.wday 
		gamesToday = LottoGame.where("(draw_days like ? or draw_days=7) and active", "%#{weekday}%").order('current_jackpot_prize DESC')
	%>
	<% gamesToday.each do |game| %>
	
		<div class="col-xs-6 col-lg-4 <%= cycle('result-even', 'result-odd') -%>">             
			<h3><%= game.name %></h3>
			<p>Jackpot: <%= number_to_currency(game.current_jackpot_prize, unit: '₱') %></p>
        </div>
	<% end %>

	
	<div class="footnote col-xs-10">
	Note: Jackpot prizes for 6D and 4D games may not be accurate as some of them are based from the previous draw.
	</div>
</div>