

    <div class="container">

      <div class="row text-center">
     	  <%= image_tag 'images/OneBall.png', width: 250 %>
          <h2 class="featurette-heading">Lotto <span class="text-muted">Analytics</span></h2>
          <p class="lead">We make it easy for you to study the historical patterns.<br/>Sure win isn't guaranteed here, but we'll help you decide the best lucky picks.</p>
        </div>
      </div>
      
      
      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Data from <a href="http://pcso.gov.ph/" class="text-muted">PCSO.</a></h2>
          <p class="lead">All data here are obtained from PCSO's daily draw results.<br/>
          		However, Lotto Analytics is not affiliated in any way or manner with PCSO.
          </p>
        </div>

      </div>

      <hr class="featurette-divider">

    </div>