

    <div class="container">

      <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-12 col-sm-9">
		  <a class="btn" href="#" id="left-arrow">PREVIOUS</a>
		  <input class="btn" type="hidden" id="datepicker" />
		  <a class="btn" href="#" id="right-arrow">NEXT</a>
		  <div id="dynamic-content">
		  	<%= render '/welcome/results' %>
          
	      </div>
        </div><!--/.col-xs-12.col-sm-9-->
      </div><!--/row-->
      
      <% if (!controller.current_user.present?) %>
	      <hr class="featurette-divider">
	
	      <div class="row featurette">
	        <div class="col-md-7">
	          <h2 class="featurette-heading">Try your luck. <span class="text-muted">Sign in now.</span></h2>
	          	<p class="lead">We trust Facebook in ensuring that you're not a robot.</p>
	  		    <a href="/login/facebook" id="btn-login" class="btn btn-primary">
					<%= image_tag 'https://z-1-static.xx.fbcdn.net/rsrc.php/v2/yo/r/jVG1f1GslU7.png', width: 32 %>
					Sign in thru Facebook
				</a>       
	        </div>
	      </div>
      <% end %>


    </div>