      <h1>Draw Results</h1>
      <div>
		  <a class="btn" id="left-arrow">PREVIOUS</a>
		  <input type="hidden" id="datepicker" />
		  <%= image_tag 'images/calendar.gif', id: 'cal-btn', width: 16 %>
		  <a class="btn" id="right-arrow">NEXT</a>
		  <div id="dynamic-content">
		  	<%= render '/welcome/results' %>
          
	      </div>
      </div><!--/row-->
      
      <% if (!controller.current_user.present?) %>
	      <hr class="featurette-divider">
	
	      <div class="row featurette">
	        <div class="col-md-7">
	          <h2 class="featurette-heading">Try your luck. <span class="text-muted">Sign in now.</span></h2>
	          	<p class="lead">Discover a lot of cool ways to analyze the numbers.</p>
	  		    <a href="/login/facebook" id="btn-login" class="btn btn-primary">
					<%= image_tag 'https://z-1-static.xx.fbcdn.net/rsrc.php/v2/yo/r/jVG1f1GslU7.png', width: 32 %>
					Sign in thru Facebook
				</a>       
	        </div>
	      </div>
      <% end %>

