<h1>Thanks for subscribing!</h1>
<p>Your email <b><%=@email %></b> will now be able to receive draw results daily at around 10PM Philippine time.<br />
    Please note that the time may vary due to availability of results posted on PCSO website.
    
</p>
<p>   
    <a href="/" class="btn btn-primary">Back to Home</a>
</p>
