
      <hr class="featurette-divider">

      <footer>
        <p>&copy; 2016 <a href="/"><%= Lottominer::Application::PROJECT_NAME %></a> | 
        	<a href="#">Privacy</a> | <a href="#">Terms</a> | <a href="#">Send Feedback</a></p>
      </footer>
